@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

@supports (font-variation-settings: "wght" 400) {
    * {
      font-family: 'Inter';
      font-weight: 400;
    }
  }

@supports (font-variation-settings: "wght" 900) {
    * {
      font-family: 'Inter';
      font-weight: 900;
    }
  }

* {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

}

header {
margin: auto;
height: 138px;
left: 0px;
top: 0px;

background: #000461;
}

#title-1 {
    padding-top: 10px;
    margin: auto;
    box-sizing: border-box;
    background: #000467;
    border: 4px solid #FFFFFF;
    border-radius: 40px;
    height: 49px;
    max-width: 1360px;
    font-weight: 900;
}

h1 {
font-size: 16px;
color: white;
text-align: center;
font-family: 'Inter', sans-serif;
font-weight: 900;
}

#all-title {
    padding-top: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    grid-area: flex;
    text-align: center;
}

.box-h2 {
    padding-top: 9px;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
    min-height: 42px;
    width: 156px;
    background: #000467;
    border: 4px solid #FFFFFF;
    border-radius: 22px;

}

#dropdown-div {
    padding-top: 20px;
    display: grid;
    grid-area: flex;
    grid-template-columns: 16.7% 16.7% 16.6% 16.6% 16.7% 16.7%;   
    grid-template-areas: ". . ddcg ddma . .";
}

#dropdown-culture-g {
    grid-area: ddcg;
}

#dropdown-m-a {
    grid-area: ddma;
}

.dropdown-style{
    appearance:calc();
    padding-top: 9px;
    border: 4px solid #000467;
    font-family: 'Inter', sans-serif;
    background-color: white;
    min-height: 42px;
    width: 156px;
    border-radius: 22px;
    text-align: center;
}